In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("forestfires.csv")
print(f"Loaded dataset with {len(df)} rows.\n")

Loaded dataset with 500 rows.

In [29]:
df.head()

,X_Coordinate,Y_Coordinate,Month,Day,Fine_Fuel_Moisture_Code,Duff_Moisture_Code,Drought_Code,Initial_Spread_Index,Temperature_Celsius,Relative_Humidity_Percent,Wind_Speed_kmh,Rainfall_mm,Burned_Area_hectares
0,3.22,2.99,May,Saturday,45.93,121.08,848.18,0.53,24.28,54,5.73,4.21,22.82
1,5.98,2.81,August,Saturday,29.84,37.56,403.53,51.25,9.14,98,0.42,6.29,23.24
2,3.28,4.46,January,Saturday,55.66,129.37,534.85,54.18,3.33,45,4.54,1.13,10.00
3,6.53,4.92,May,Sunday,50.66,46.57,545.06,44.41,12.59,48,7.28,1.85,30.09
4,1.23,6.18,June,Monday,68.55,146.92,574.11,3.74,25.41,24,2.40,4.28,27.04

In [30]:
mapped = [(row["Month"], row["Temperature_Celsius"]) for _, row in df.iterrows()]

In [31]:
result = {}
for month, temp in mapped:
    result.setdefault(month, []).append(temp)

In [32]:
avg_temp = {m: sum(v)/len(v) for m, v in result.items()}

In [33]:
print("üå°Ô∏è Average Temperature per Month:")
for m, t in avg_temp.items():
    print(f"{m}: {t:.2f}")

üå°Ô∏è Average Temperature per Month:
May: 18.45
August: 19.21
January: 15.92
June: 17.52
March: 16.43
February: 17.93
July: 17.50
October: 16.46
December: 18.61
April: 17.60
November: 18.44
September: 14.55

In [34]:
top = df.groupby("Month")["Burned_Area_hectares"].mean().sort_values(ascending=False).head(5)
print("\nüî• Top 5 Months with Largest Burned Area:")
print(top)

üî• Top 5 Months with Largest Burned Area:
Month
January     14.592200
February    14.151562
October     13.007727
May         12.718125
July        12.637826
Name: Burned_Area_hectares, dtype: float64

In [35]:
corr = df["Temperature_Celsius"].corr(df["Burned_Area_hectares"])
print(f"\nüìä Correlation between Temperature and Burned Area: {corr:.2f}")

üìä Correlation between Temperature and Burned Area: 0.00